doctype html
html(lang="en")
  body
    h1 New Car

    div.loginbox
      form(name="cars", action="/cars", method="post")
        | Name:
        input(type="text", name="driver")
        | Make:
        input(type="text", name="make")
        | Model:
        input(type="text", name="model")
        | Year:
        input(type="number", name="year")
        input(type="submit", value="Create Car - I am Batman")
