doctype html
html(lang="en")
  body
    h1 New Car, yo

    div.loginbox
      form(name="cars", action="/cars", method="post")
        label(for="driver") Driver
        input(type="text", name="driver")
        label(for="make") Make
        input(type="text", name="make")
        label(for="model") Model
        input(type="text", name="model")
        label(for="year") Year
        input(type="number", name="year")
        input(type="submit", value="Create Car - I am Batman")
